# Dependencies
node_modules/
studio/node_modules/
package-lock.json
studio/package-lock.json

# Sanity build outputs & temp check files
studio/.sanity/
studio/sanity-check.tar.gz
.env
.env.local
.dev.vars

# Temporary & Scratch scripts
scratch/
.wrangler/
*.log

# OS files
.DS_Store
Thumbs.db

